* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  outline-color: rgba(139, 3, 3, 0.514);
  outline-width: thin;
}

h1 {
  font-size: 40px;
  color: black;
  font-weight: 100;
  text-align: left;
}
@media only screen and (min-width: 900px ) {
  h1 {
    font-size: 70px;
  }
}
@media only screen and (min-width: 430px) {
  h1 {
    font-size: 50px;
  }
}

section.first {
  background: #00e2a5;
  background: linear-gradient(90deg, #00e2a5 0%, #00dbb3 100%);
  border-bottom: 1px solid black;
  margin-bottom: 2rem;
}
section.first button {
  display: none;
}

section.second a {
  text-decoration: none;
  color: white;
}
section.second .card {
  color: black;
  border-bottom: 1px solid black;
  background: whitesmoke;
}
section.second .card h2 {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  margin-bottom: 0.5rem;
}
@media only screen and (min-width: 430px) {
  section.second .card h2 {
    font-size: 26px;
  }
}
@media only screen and (min-width: 900px ) {
  section.second .card h2 {
    font-size: 30px;
  }
}

* {
  outline-style: none;
}

body {
  min-height: 100vh;
  position: relative;
}

.main-container {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 200px;
}

header {
  padding: 1.5rem;
  display: flex;
  justify-content: right;
}

header {
  background: #00e2a5;
  background: linear-gradient(90deg, #00e2a5 0%, #00dbb3 100%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-bottom: 1px solid black;
}

section.first {
  width: 100%;
  max-width: none;
  min-height: 2rem;
}
section.first .single {
  display: flex;
  flex-direction: column;
  align-items: left;
  align-content: left;
  padding: 2rem;
}
section.first .single .box {
  width: 90%;
  max-width: 90%;
  min-height: 100px;
}
@media only screen and (min-width: 900px ) {
  section.first .single .box {
    width: 50%;
    max-width: 50%;
    min-height: 100px;
  }
}
section.first .single button {
  padding: 0.5rem 2rem;
  border-radius: 50px;
}

section.second {
  width: 100%;
  max-width: none;
  min-height: 100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}
section.second main {
  width: 95%;
  max-width: 95%;
  min-height: 100px;
  align-self: flex-start;
}
@media only screen and (min-width: 430px) {
  section.second main {
    width: 80%;
    max-width: 80%;
    min-height: 100px;
  }
}
@media only screen and (min-width: 900px ) {
  section.second main {
    width: 50%;
    max-width: 50%;
    min-height: 100px;
  }
}
section.second aside {
  width: 95%;
  max-width: 95%;
  min-height: 100px;
  align-self: flex-start;
}
@media only screen and (min-width: 430px) {
  section.second aside {
    width: 80%;
    max-width: 80%;
    min-height: 100px;
  }
}
@media only screen and (min-width: 900px ) {
  section.second aside {
    width: 20%;
    max-width: 20%;
    min-height: 100px;
  }
}
section.second .single {
  width: 90%;
  max-width: none;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.second .container__card {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
section.second .card {
  width: 300px;
  height: 120px;
  margin: 1rem 1rem;
  padding: 0.5rem;
  text-align: left;
}
section.second .card img {
  height: 100px;
  width: 100px;
}
section.second .card p.longtext {
  display: none;
}
section.second .card p.shorttext {
  display: block;
}
@media only screen and (min-width: 430px) {
  section.second .card {
    width: 500px;
    height: 140px;
  }
  section.second .card img {
    height: 120px;
    width: 120px;
  }
  section.second .card p.longtext {
    display: block;
  }
  section.second .card p.shorttext {
    display: none;
  }
}
@media only screen and (min-width: 900px ) {
  section.second .card {
    width: 700px;
    height: 160px;
  }
  section.second .card img {
    height: 140px;
    width: 140px;
  }
  section.second .card p.longtext {
    display: block;
  }
  section.second .card p.shorttext {
    display: none;
  }
}
section.second .card h2 {
  width: 100%;
  text-align: left;
}
section.second .card img {
  object-fit: cover;
  float: right;
  padding-top: 0.5rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
footer .container {
  width: 95%;
  max-width: 95%;
  min-height: 30px;
  margin: auto;
}
footer .container ul {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}
footer .container li a {
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 0.2rem;
}

footer {
  background-image: linear-gradient(to right, #000000, #121212, #1d1d1d, #282828, #343434);
  box-shadow: 0 0px 7.2px rgba(9, 151, 161, 0.582), 0 0px 14.9px rgba(9, 151, 161, 0.568), 0 0px 23.9px rgba(9, 151, 161, 0.671), 0 0px 37px rgba(9, 151, 161, 0.692), 0 0px 64.1px rgba(9, 151, 161, 0.623), 0 0px 353px rgba(9, 151, 161, 0.308);
}
footer a {
  color: #0997a1;
  font-weight: bold;
  text-shadow: 0 0px 353px rgba(9, 151, 161, 0.774);
}