* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  outline-color: rgba(139, 3, 3, 0.514);
  outline-width: thin;
}

h1 {
  font-size: 40px;
  color: black;
  font-weight: 100;
  text-align: left;
}
@media only screen and (min-width: 900px ) {
  h1 {
    font-size: 70px;
  }
}
@media only screen and (min-width: 430px) {
  h1 {
    font-size: 50px;
  }
}

* {
  outline-style: none;
}

body {
  min-height: 100vh;
  position: relative;
}

.main-container {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 200px;
}

header {
  padding: 1.5rem;
  display: flex;
  justify-content: right;
}

header {
  background: #00e2a5;
  background: linear-gradient(90deg, #00e2a5 0%, #00dbb3 100%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-bottom: 1px solid black;
}

.box {
  width: 90%;
  max-width: 90%;
  min-height: 100px;
}
@media only screen and (min-width: 900px ) {
  .box {
    width: 50%;
    max-width: 50%;
    min-height: 100px;
  }
}

p.small {
  text-align: center;
}

section.blackboard {
  background: #00e2a5;
  background: linear-gradient(90deg, #00e2a5 0%, #00dbb3 100%);
  border-bottom: 1px solid black;
}
section.blackboard button {
  display: none;
}

section.second {
  text-shadow: rgba(0, 0, 0, 0.5) 0 10px 10px;
}
section.second h2 {
  font-family: "Playfair Display";
  font-size: 36px;
  font-weight: 700;
  text-shadow: rgba(0, 0, 0, 0.5) 0 10px 10px;
}
section.second a {
  text-decoration: none;
  color: white;
}
section.second .card {
  background-image: url(/images/mountain.jpg);
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
}

section.blackboard {
  width: 100%;
  max-width: none;
  min-height: 2rem;
  display: flex;
  flex-flow: row wrap;
  align-items: left;
  justify-content: left;
  padding: 2rem;
}
section.blackboard .single {
  display: flex;
  flex-direction: column;
  align-items: left;
  align-content: left;
}
section.blackboard .single button {
  padding: 0.5rem 2rem;
  border-radius: 50px;
}

section.second {
  width: 100%;
  max-width: none;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}
section.second h1 {
  margin: 4rem 0;
}
section.second .single {
  width: 90%;
  max-width: none;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.second .container__card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
section.second .card {
  width: 250px;
  height: 350px;
  margin: 2rem 1rem;
  border-radius: 10px;
  padding: 1rem;
  text-align: left;
}

@media only screen and (min-width: 430px) {
  section.second .container__card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
footer .container {
  width: 95%;
  max-width: 95%;
  min-height: 30px;
  margin: auto;
}
footer .container ul {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}
footer .container li a {
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 0.2rem;
}

footer {
  background-image: linear-gradient(to right, #000000, #121212, #1d1d1d, #282828, #343434);
  box-shadow: 0 0px 7.2px rgba(9, 151, 161, 0.582), 0 0px 14.9px rgba(9, 151, 161, 0.568), 0 0px 23.9px rgba(9, 151, 161, 0.671), 0 0px 37px rgba(9, 151, 161, 0.692), 0 0px 64.1px rgba(9, 151, 161, 0.623), 0 0px 353px rgba(9, 151, 161, 0.308);
}
footer a {
  color: #0997a1;
  font-weight: bold;
  text-shadow: 0 0px 353px rgba(9, 151, 161, 0.774);
}