body {
  min-height: 100vh;
}

* {
  outline-width: thin !important;
}

.body-wrap {
  min-height: 100vh;
  margin-bottom: 250px;
}

header {
  background: #00cc99;
  border-bottom: 1px solid #000;
}
header nav .container {
  display: flex;
  align-items: center;
}
header nav .container span {
  margin: 0.2rem;
}

.jumbotron.col1 {
  background: #00cc99;
  border-bottom: 1px solid #000;
}

footer {
  min-height: 50px;
  background: #202020;
  color: white;
  border-top: 1px solid #00cc99;
  text-align: center;
  padding-bottom: 1rem;
}
footer .row {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer a {
  color: white;
  font-weight: bold;
  max-width: 100px;
}
footer img {
  height: 3rem;
  margin: 0.5rem;
}
@media (min-width: 768px) {
  footer a {
    max-width: none;
  }
  footer .row {
    text-align: right;
  }
}

section .container:nth-of-type(1) .gLine {
  border-bottom: 5px solid #00cc99;
}
section .container:nth-of-type(1) .linkBox {
  background: whitesmoke;
  border-radius: 10px;
  padding: 1rem;
  margin: 0.5rem 0;
}
section .container:nth-of-type(2) img {
  width: 100px;
  height: 100px;
  float: right;
}
section .container:nth-of-type(2) .col-md-6 {
  border-bottom: 2px solid grey;
}
section:last-of-type {
  background: #00cc99;
  text-align: center;
  padding: 20rem 0;
  margin-top: 10rem;
}
section:last-of-type .display-1 {
  font-size: 4rem;
}
@media (min-width: 768px) {
  section:last-of-type .display-1 {
    font-size: 6rem;
  }
}