* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  min-height: 100vh;
  position: relative;
}

* {
  outline-color: rgba(139, 3, 3, 0.514);
  outline-width: thin;
  outline-style: dotted(o);
}

* {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

body {
  background: white;
  color: #181818;
}

header {
  background: #015e5e;
  color: #181818;
}
header nav {
  background: #015e5e;
  color: white;
}
header nav li {
  background: #015e5e;
  color: white;
}
header nav li > a {
  color: white;
  text-decoration: none;
}
header nav li > button {
  background: #015e5e;
  color: white;
  text-decoration: none;
  border: none;
}
header nav li > a:hover {
  background: #003636;
  color: white;
}
header nav li:first-child:hover {
  background: #003636;
  color: white;
}
header nav li > button:hover {
  background: #003636;
  color: white;
}
header nav .popup {
  background: white;
  color: #181818;
}

section {
  background: white;
  color: #181818;
}
section main {
  background: white;
  color: #181818;
}
section aside {
  background: #86caca;
  color: #181818;
}

footer {
  background: #1f1f1f;
  color: white;
}
footer li a {
  color: white;
}
footer li a:hover {
  background: #003636;
  color: white;
}

.main-container {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 200px;
}

header {
  width: 100%;
  max-width: 100%;
  min-height: 30px;
}
header nav {
  width: 80%;
  max-width: calc(50% + 250px);
  min-height: 30px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
header nav #brandimg2 {
  display: none;
}
header nav ul {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  list-style-type: none;
  overflow: hidden;
}
header nav ul a {
  display: block;
  text-align: center;
  padding: 1rem;
  margin: 0;
}
header nav ul:first-child li {
  text-align: center;
}
header nav ul:first-child li:nth-child(1) a {
  position: relative;
  top: 4px;
  padding: 0.5rem 1rem;
}
header nav ul:first-child li:nth-child(2) a {
  position: relative;
  top: 4px;
  padding: 0.5rem 1rem;
}
header nav ul:last-child {
  display: flex;
  align-items: center;
}
header nav ul:last-child li {
  text-align: center;
}
header nav ul:last-child li a {
  position: relative;
  padding: 0.5rem 1rem;
}
header nav ul:last-child li > button {
  display: block;
  text-align: center;
  padding: 0.5rem 1rem;
  margin: 0;
}
header nav ul:last-child .screencover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(7, 7, 7, 0.562);
}
header nav ul:last-child .popup {
  width: 250px;
  height: 400px;
  position: absolute;
  top: 10%;
  left: 40%;
  padding: 1rem;
}

@media only screen and (max-width: 768px) {
  #brandimg {
    display: none;
  }

  header nav {
    width: 85%;
    max-width: none;
    min-height: 20px;
  }
  header nav #brandimg2 {
    display: block;
  }
  header nav ul {
    display: flex;
    align-items: center;
  }
  header nav ul a, header nav ul button {
    padding: 0.5rem;
  }
  header nav ul:last-child .popup {
    position: absolute;
    top: 10%;
    left: 20%;
  }
}
@media only screen and (max-width: 768px) {
  header nav {
    width: 95%;
    max-width: none;
    min-height: 20px;
  }
  header nav ul:last-child .popup {
    top: 10%;
    left: 10%;
  }
}
section {
  width: 100%;
  max-width: 100%;
  min-height: 100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

main {
  width: 50%;
  max-width: none;
  min-height: 100px;
  padding-right: 1rem;
}
main .container p {
  border-left: 0.5rem solid #494949;
  padding-left: 0.5rem;
}
main .container p:hover {
  transform: translateX(2px);
  transition: 0.2s;
  border-left: 0.5rem solid #242424;
}

aside {
  width: 30%;
  max-width: 250px;
  min-height: 100px;
  align-self: flex-start;
}
aside .asideTop {
  padding: 0 1rem;
}
aside .container {
  padding: 1rem;
}

@media only screen and (max-width: 768px) {
  section {
    display: flex;
    flex-flow: column wrap;
  }

  main {
    width: 85%;
    max-width: none;
    min-height: 100px;
    margin: auto;
  }
  main .container {
    padding: 0 0 0 0.5rem;
  }
  aside {
    width: 85%;
    max-width: none;
    min-height: 100px;
    margin: auto;
  }
}
@media only screen and (max-width: 430px) {
  section {
    display: flex;
    flex-flow: column wrap;
  }

  main {
    width: 95%;
    max-width: none;
    min-height: 100px;
    margin: auto;
  }
  main .container {
    padding: 0 0 0 0.5rem;
  }
  aside {
    width: 95%;
    max-width: none;
    min-height: 100px;
    margin: auto;
  }
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
footer .container {
  width: 80%;
  max-width: calc(50% + 250px + 1rem);
  min-height: 30px;
  margin: auto;
}
footer .container ul {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}
footer .container li a {
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 0.5rem;
}
footer .container li a .img {
  background: red;
}

@media only screen and (max-width: 430px) {
  footer .container {
    width: 95%;
    max-width: 95%;
    min-height: 30px;
  }
  footer .container ul {
    margin: 1rem 0;
  }
  footer .container li a {
    padding: 0 0.2rem;
  }
}