* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  min-height: 100vh;
  position: relative;
}

* {
  border: 0px;
}

* {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 50px;
}

body {
  background: #dddddd;
  color: #181818;
}

header {
  background: #015e5e;
  color: #181818;
}
header nav {
  background: #015e5e;
  color: white;
}
header nav li a {
  color: white;
}
header nav li a:hover {
  background: #003333;
  color: white;
}

section {
  background: #dddddd;
  color: #181818;
}
section main {
  background: #dddddd;
  color: #181818;
}
section aside {
  background: #86caca;
  color: #181818;
}

footer {
  background: #003333;
  color: white;
}
footer li a {
  color: white;
}
footer li a:hover {
  background: #003333;
  color: white;
}