//- path start
- var here = "./";
- var outside = "../";



//-paths from htmls/xxx.html file!!!!!

//- css specific files
- var strategyCss = outside + "css/main.css";
- var soonCss = outside + "css/main.css";
- var beginCss = outside + "bo_css/main.css";
- var ankiCss = outside + "css/main.css";
- var testCss = outside + "css/test.css";



- var bootstrapCss = outside + "bootstrap_css/bootstrap.min.css";
 




- var indexCss = here + "css/index.css";