
$breakIpadpro: 1100px ;
$breakIpad: 768px ;
$breakPlus: 430px;
$breakPhone: 400px ;
$breakSmall: 350px ;


@mixin media($point) {
  
    $bp-pc: "only screen and (min-width: 900px )";
    $bp-tablet: "only screen and (max-width: 900px)";
    $bp-phone: "only screen and (max-width: 430px)";
  
    @if $point == pc {
      @media #{$bp-pc} { @content; }
    }
    @else if $point == tablet {
      @media #{$bp-tablet} { @content; }
    }
    @else if $point == phone {
      @media #{$bp-phone}  { @content; }
    }
    @else if $point == any {
       @content 
    }
  
}














//COLORS ------------------------


//color map
$col: (
    "dark": rgb(31, 31, 31),
    "light": rgb(255, 255, 255),

    // "col1": white,
    "col1": rgb(1, 94, 94),
    "col1l": rgb(134, 202, 202),
    "col1d": rgb(0, 54, 54),
    "col2": rgba(235, 154, 154, 0.616),

    "side": rgb(73, 73, 73),
    "sided": rgb(36, 36, 36),


    //fonts
    "f-light": white,
    "f-dark": rgb(24, 24, 24),
);

@function col($name){
    @return map-get($col, $name);
}

@function font($font_types){
    @if $font_types == w {
        @return map-get($col, f-light);
    }
    @else {
        @return map-get($col, f-dark);
    }
}

@mixin col($bg_col, $font_type ) {
    
    background: col($bg_col);
    color: font($font_type);
    

}




@mixin gradient1 {
    background-image: linear-gradient(to right bottom, #085f5c, #09716d, #0a837f, #0a9691, #0ba9a3);
}

@mixin shadow1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
@mixin shadow2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
@mixin shadow3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
   
@mixin shadowTop {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
@mixin shadowblack1 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.808), 0 3px 6px rgba(0, 0, 0, 0.822);
}
@mixin shadowblack2 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.781), 0 10px 10px rgba(0, 0, 0, 0.815);
}






























// flex plus media direction
@mixin flexcenter(){ 
    justify-content: center;
    align-items: center;
}

@mixin flex($direction){
    display: flex;
    flex-flow: $direction wrap;
}


$cdark: black;
$clight: white;











//SIZE ----------------------------------------
@mixin box($w, $maxw, $minh){
    width: $w;
    max-width: $maxw;
    min-height: $minh;
}
















// TEST ----------------------------------------
@function border($on){
    @if $on == on { @return dotted; }
    @else {@return none }
}




