


//RESET
body {    min-height: 100vh;  }

*{
  outline-width: thin !important;
  // outline: dotted !important;  
  // color: red !important;
}

#devBtn{ display: inline;}
.devMode{ display: none;}


// INDEX OUTLINE

@import "./parts/index_outline";


// INDEX SEC
@import "./parts/index_sec";

