

*{   box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
 }
body{ margin: 0; min-height: 100vh; position:relative;}

//TEST

// *{border: 1px solid black;}

//FONTS

header, footer{
    
        li, a{
            color: white;
        }
    
}




//COLORS
@mixin bgc($col){
    background-color: $col;
}




body{ @include bgc(whitesmoke) };

header{ @include bgc( darkcyan);
    nav{
        @include bgc( darkcyan );
        li a:hover{background-color: rgb(0, 82, 82);}
    }
}





section{ @include bgc( whitesmoke ) }

main{ @include bgc( whitesmoke ) }

aside{ @include bgc( lightcoral ) }




footer{ @include bgc(black)}



















//SECTIONS -----------------------------------
//SECTIONS -----------------------------------

    //wid, maxw, minh
    @mixin box($w, $maxw, $minh){
        width: $w;
        max-width: $maxw;
        min-height: $minh;
    }




  //wid, maxw, minh
header{ @include box(100%, 100%, 30px);
    //IN
    padding: 0;    
    
    nav{
        @include box( 80%, calc(50% + 250px + 1rem), 30px );
        margin: auto; 

        
                ul {
                    list-style-type: none;
                    margin: 0;
                    overflow: hidden;
                    //IN
                    padding: 0;
                    display: flex;
                    align-content: center;
                    align-items: center;
                    
                }
                
                li {
                    
                    float: left;
                    &:first-child a{
                        position: relative;
                        top: 6px;
                        padding: 0 1rem 0 0 ;
                    }
                    &:last-child {
                        float: right;
                    }
                    a{
                        display: block;
                        text-align: center;
                        text-decoration: none;
                        padding: 1rem;
                        
                    }
                }

    }

}

@media only screen and (max-width: 600px) {
    #brandimg{display: none;}
}






//SECTION

  //     -----------  wid, maxw, minh
section{
    @include box(100%, 100%, 100px); 
    display: flex; justify-content: center; flex-direction: row;
    padding-top: 2rem;

}




main{ @include box( 50%, none, 100px); margin-right: 1rem; ;}

aside{ @include box(30%, 250px, 100px) ;
    .asideTop {
        padding:  0 1rem; 
    }
    .container {
        padding: 1rem;
    }
}






@media only screen and (max-width: 600px) {
    section{
        @include box( 100%, none, 100px );
        flex-direction: column;
    }
    main{
        @include box( 95%, none, 50px );
        margin: auto;
    }
    aside {
        @include box( 95%, none, 50px );
        margin: auto;
        //IN
        
    }
}








.main-container {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 50px; /* height of your footer */
   }
   

footer{
    position: absolute;
    bottom: 0;
    width: 100%;


    .container{
        @include box( 80%, calc(50% + 250px + 1rem), 30px );
        margin: auto;

                // ul{
                //     list-style-type: none;
                //     margin: 0;
                //     overflow: hidden;
                // } 

                ul {
                    list-style-type: none;
                    margin: 0;
                    //IN
                    padding: 0;
                    display: flex;
                    align-items: center;
                    
                }
                
                li {
                    
                    a{
                        display: block;
                        // text-align: center;
                        text-decoration: none;
                        text-align:center;
                        padding: .5rem;
                    //    .text{ padding;}
                        .img{ background-color: red; }
                    }
                }

    }

}







