

@import './resets';
@import './variables';
@import './colors';

@import './index';



//TEST 

*{  
    outline-color:rgba(139, 3, 3, 0.514);    
    outline-width: thin;
    outline-style: dotted(o);
}
// #h1{ color: red !important; }




$bgc: "background:";










// --------------------------------------------------

// FONTS  ---------------------------------------

*{font-family: 'Roboto', sans-serif; font-size: 16px;}
h1{ font-size: 50px;}
h2{ font-size: 30px;}




























//SECTIONS ----------------------------------
//SECTIONS ----------------------------------






body{min-height: 100vh; position: relative;}

.main-container{
    @include box( 100%, 100%, 100vh);
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 200px;

}






header{ 
    @include box(100%, 100%, 30px);
    
    nav{
        @include box( 80%, calc(50% + 250px), 30px );
        margin: auto;

        @include flex(row);
        justify-content: space-between;
        
        
        #brandimg2{display: none;}

        ul{
            @include flex(row);
            align-items: center;
                list-style-type: none;
                overflow: hidden;

                a{
                    display: block;
                    text-align: center;
                    padding: 1rem;
                    margin: 0;
                }

            &:first-child{
                
                li{
                    // float: left;
                    text-align: center;
                    
                    &:nth-child(1) a{
                        position: relative;
                        top: 4px;
                        padding: .5rem 1rem ;
                    }
                    &:nth-child(2) a{
                        position: relative;
                        top: 4px;
                        padding: .5rem 1rem ;
                    }
                    
                }
            }
            &:last-child { 
                
                // position: fixed;
                // top: 0;
                // right: calc((100% - 50% - 250px)/2);
                display: flex;
                align-items: center;
                li{
                    text-align: center;
                    a{
                        position: relative;
                        padding: .5rem 1rem;
                    }
                    > button{
                        display: block;
                        text-align: center;
                        padding: .5rem 1rem;
                        margin: 0;
                    }
                }
                .screencover {
                    display: none;
                    position: absolute;
                    
                    top: 0;
                    left: 0;
                    width: 100vw;
                    height: 100vh;
                    background: rgba(7, 7, 7, 0.562);
                }
                
                .popup{
                    
                    width: 250px ; 
                    height: 400px ; 
                    position: absolute;
                    top: 10%;
                    left: 40%;
                    
                    // IN]
                    padding: 1rem;
                    
                }
            }

            // ul --- end
        }
        
    }

}


@media only screen and (max-width: $breakIpad){
    #brandimg{display: none;}

    header{
        nav{
            @include box( 85%, none, 20px );
            #brandimg2{display: block;}
            ul{
                display: flex;
                align-items: center;
                a, button{ 
                    padding: .5rem;
                }
                &:last-child{
                    .popup{
                        position: absolute;
                        top: 10%;
                        left: 20%;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $breakIpad){
    
    header{
        nav{
            @include box( 95%, none, 20px );
            ul{
                
                &:last-child{
                    .popup{
                        top: 10%;
                        left: 10%;
                    }
                }
            }
        }
    }
}












ul,ol { padding-left: 1rem;  }

section{
    @include box(100%, 100%, 100px);
    @include flex(row);
    @include flexcenter();
    padding-top: 2rem;
}

article{
    margin: 1rem 0;
}
h3{font-size: 25px;}

h3{ margin: 1rem 0 ; }
h2{ margin: 1rem 0 ; }
h4{margin: 0.5rem 0; font-size: 20px;}

h1{
    border-top: 2px solid coral;
    border-bottom: 2px solid coral;
    margin: 3rem 1rem;
}

p{ margin: 0.5rem 0;}


.single{

    @include box(calc(50% + 250px + 1rem), 1200px, 100px);
    margin: auto;
    padding: 0;
    

    .box{
        display: flex;
        justify-content: space-evenly;
        @include box(100%, none, none);
        display: flex;
        
        
        .card{
            @include box(40%, 350px, 250px);

            color: black;
            text-decoration: none;
            border: 2px solid coral;
            border-radius: 20px;
            display: block;
            background: whitesmoke;
            margin: 1rem;

            padding: 1rem 1rem 1rem 2rem;
            h2{text-align: center; margin-bottom: 1rem;}
            a{ text-decoration: none; color: black }


        }
        @media only screen and (max-width: $breakPlus){
            .card{ @include box(95%, 350px, 250px) }
            flex-direction: column;
        }

        
           
        
    }
}




.expTop {
    
    cursor: pointer;
    padding-right: 2rem;
    &:hover{
        border-right: 0.5rem solid grey;
        transition: 0.1s;
        width:100%;
    }
  }
  
  .expBox {
    margin: 0.2rem 0;
    padding: 0.3rem 1rem ;
    display: none;
    background: white;
    border: 2px solid grey;
    border-radius: 4px;
    // z-index: 10;
  }
.artTop {
    
    cursor: pointer;
    padding-right: 2rem;
    &:hover{
        border-right: 0.5rem solid grey;
        transition: 0.1s;
        width:100%;
    }
  }
  
  .artBot {
    margin: 0.2rem 0;
    padding: 0.3rem 1rem ;
    
  }




.popupTop, .popupTop2{
    cursor: pointer;
    color: coral ;
    font-style: italic;
    &:hover{color: crimson; transition: 0.1s}
    &:active{color: red; transition: 0.1s}
    &::after{color: maroon; transition: 0.1s}
}
.popupBot, .popupBot2{
    margin: 0.2rem 0;
    padding: 2rem 1rem ;
    display: none;
    background: white;
    border: 2px solid lightcoral;
    border-radius: 4px;
    position: absolute;
    width: 50%;
}
















main{ 
    @include box(50%, none, 100px); 
    align-self: flex-start;
    padding-right: 1rem;

    
    .container{
        

        // article{ padding-left: 1rem;}
        h2, h3, h4 { padding-left: 1rem;}
        ol, ul{ padding:  0.5rem 0rem 0.5rem 2rem;}
        p{

            // border-left: .5rem solid col(side);
            padding-left: 1rem;
            &:hover {
                // transform: translateX(1px);
                // transition: .2s;
                // border-left: .5rem solid col(sided);
            }
        }
    }
}

aside{
    
    @include box(30%, 250px, 100px);
    align-self: flex-start;
    .asideTop{
        padding: 0 1rem;
    }
    .container {
        padding: 1rem
    }
}


// MEDIA
@media only screen and (max-width: $breakIpad) {
    
    
    .expTop {     }
    .expBox {     }
    .popupTop{  }
    .popupBot, .popupBot2{ width: 85%; margin: auto;}
    
    
    
    
    
    section{
        
        @include flex(column);

        
    }
    
    main{ 
        @include box(85%, none, 100px); 
        margin: auto;
        .container{
            padding: 0 0 0 .5rem;
            &:hover {
            }
        }
    }
    
    aside{
        @include box(85%, none, 100px);
        margin: auto;

        .asideTop{
        }
        .container {
        }
    }
}

// MEDIA
@media only screen and (max-width: $breakPlus) {


    .expTop {     }
    .expBox {     }
    .popupTop{  }
    .popupBot, .popupBot2{ width: 90%; margin: auto;}






    section{
        
        @include flex(column);
        
    }
    
    main{ 
        @include box(95%, none, 100px); 
        margin: auto;
        .container{
            padding: 0 0 0 .5rem;
            &:hover {
            }
        }
    }
    
    aside{
        @include box(95%, none, 100px);
        margin: auto;
        .asideTop{
        }
        .container {
        }
    }
}

























footer{

    position: absolute; 
    bottom: 0;
    width: 100%;
    .container{
        @include box(80%, calc(50% + 250px + 1rem), 30px);
        margin: auto;
        ul{
            list-style-type: none;
            @include flex(row);
            @include flexcenter();
            margin: 1rem 0 ;
        }
        li{
            a{
                display: block;
                text-decoration: none; 
                text-align: center;
                padding: .5rem;
                .img { background: red }
            }
        }
    }

}


@media only screen and (max-width: $breakPlus){
    
    footer{
        .container{
            @include box(95%, 95%, 30px);
            
            ul{
                margin: 1rem 0 ;
            }
            li{
                a{
                    padding: 0 .2rem;
                }
            }
        }
    }
}















