@import '../_variables';
@import '../colors';

*{font-family: 'Roboto', sans-serif; font-size: 16px;}
h1{ font-size: 60px;
    color: red !important;}
h2{ font-size: 30px;}




h3{ margin: 1rem 0 ; }
h2{ margin: 1rem 0 ; }
h4{margin: 0.5rem 0; font-size: 20px;}