//- path start
- var here = "./";
- var outside = "../";




//- css specific files
- var strategyCss = outside + "css/main.css";
- var soonCss = outside + "css/main.css";
- var beginCss = outside + "css/main.css";
- var ankiCss = outside + "css/main.css";
- var testCss = outside + "css/test.css";
 
- var indexCss = here + "css/index.css";