//- path start
- var here = "./";
- var outside = "../";


//- css paths
- var cssMain = "css/main.css";
- var cssIndex = "css/index.css";

//- css specific files
- var strategyCss = outside + cssMain;
- var soonCss = outside + cssMain;
- var beginCss = outside + cssMain;
- var ankiCss = outside + cssMain;
 
- var indexCss = here + cssIndex;