doctype html
html
    head
        link(rel="stylesheet" href="/css/index.css")
        include html/reusable/head.html


    body
        .main-container 
            include html/index/indexheader.html
            include html/index/indexmain.html
            
        include html/reusable/footer.html
    
        

//-  pug -w ./ -o ./ -P