doctype html
html
    head
        link(rel="stylesheet" href="/css/style.css")
        include html/reusable/head.html


    body
        include html/indexmain.html 
        include html/reusable/footer.html
        

