doctype html
html 
    include v.6/html/reusable/head.html
    
    body
        div.main-container hi
        //-     include v.5/html/reusable/header.html
        //-     include v.5/html/reusable/section.html

        include v.6/html/reusable/footer.html
        include v.5/html/reusable/scripts.html

        
        
