include ./pugs/parts/_vars.pug

doctype html
html
    head
        link(rel="stylesheet" href=here+"css/style.css")
        include html/reusable/head.html


    body
        .main-container
            include html/index/index_header.html
            include html/index/index_sec.html

        include html/reusable/footer.html



//-  pug -w ./ -o ./ -P
