//import vars

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./css/index.css") 
    title Submesion.com lol
  body
    

    .body-wrap
      include ../mods/out_header_jumbo/out_header_jumbo.pug
      include ../mods/sec_one/sec_one.pug
      include ../mods/sec_patience/sec_patience.pug
    include ../mods/out_footer/out_footer.pug
      
    
     
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
    script(src="assets/bundle.js") 

    