
section{ 

  

  
  main{
    @extend .col-lg-8, .col-md-8 ; 
    

    .cardsrow{
      @extend .row;

      .card-con{
        @extend .col-12;

        color: black;
        text-decoration: none;
        margin: .5rem 0;
        padding-left: 1rem;
        padding-right: 1rem;
        
        
        
        &:hover {
          background: rgb(216, 216, 216);
        }
        
        
        .card-conrow{
          @extend .row;
          margin-right: 0;
          margin-left: 0;
          background: whitesmoke; 
          border-radius: 10px;
          padding: .5rem;
        }

      }

      img{
        height: 75px;
        // height: auto;
        // flex-basis: 0;
        // flex-grow: 1;
        // max-width: 100%;
        position: relative;
        padding-right: .5rem;
        padding-left: .5rem;
      }
      .description{
        @extend .col;

        p{margin-bottom: 0rem;}

      }
    }
  }
  
  // hr{padding: 0;}
  .title {
    @extend .col-12; 
    text-align: center;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(189, 189, 189);
    // border-radius: 1px;
    color: black;
  }

  .card_out{
    @extend .col-12;
    padding: 0 1rem;
    
  }

  aside{
    @extend .col-lg-4, .col-md-4 ;  
    .linkBox{
      background: rgb(255, 255, 255); 
      border-left: 5px solid rgb(92, 92, 92);
      // border-radius: 10px;
      padding: 0 1rem ;
      margin: .5rem 0;
      @media (min-width: 768px) {
         padding-left: 0;
      }
    }

    .card_out{
      @extend .col-12;
      padding: 0 1rem;
    }

  }




  .container{

    @extend .px-1;
    

    .articlerow{
      @extend .row;
      margin-right: 0;
      margin-left: 0;
      background: whitesmoke; 
      border-radius: 10px;
      padding: .5rem;
    }


    
    article{
      @extend .p-2, .col-12;
      
      // background: whitesmoke; 
      // border-radius: 10px;
      // margin: .5rem 0;
      // padding: .5rem;


      h3{
        @extend .display-4;
        margin-bottom: 2rem;
      }

      .iframerow{
        @extend .row, .justify-content-center;
      }
      iframe{
        width: 100%;
        @media (min-width: 768px) {
          width: 80%;  
        }

        @extend .my-4;




      }

    }

    // @media (min-width: 768px) {
    //   article{
    //     @extend .p-5;
    //   }
    // }






  }
  

  .gLine{border-bottom: 5px solid rgb(0, 204, 153);} 
  .gtitle {
    @extend .col-12, .gLine; 
    text-align: center;
    margin-bottom: 3rem;
  }
 
  
  .resources{
    @extend .container;
    height: none;
    background: white;
    // position: sticky;
    // top:0;
    // z-index: 10000;

    //link
    a{ margin-bottom: 0px ; }        
    transition: 1s;
    // .title-res{
    //   @extend  .h1, .sticky-top;
    // } 
  }
          
  // }
  // .isSticky{
  //   a{
  //     @extend .h4;
  //     // padding-top: 0; 
  //     // padding-bottom: 0;
  //     transition: 1s;
  //   } 
  //   color: purple ;
  //   // padding: 0;
  //   transition: 1s;
  //   // padding-top: calc(1em + 1px);
  // }

  
 

}