section( refer="sec_one")
  .resources
    .gtitle
      h2.display-4 Resources
  .container
    .row.flex-sm-row-reverse
      include ./aside/aside.pug
      // aside - links --------------------------------------------

      include ./main/main.pug
      //main - cards ------------------------------------------------
                  
  //card-cont
  hr#jump
  .container#article
  //- include ./artc_vids/artc_vids.pug