section( refer="sec_one")
  .resources
    h3 resources
  .container
    .row.flex-sm-row-reverse
      aside( refer="aside") aside 
      // aside - links --------------------------------------------

      main( refer="main") main
      //main - cards ------------------------------------------------
                  
  //card-cont
  hr#jump
  .container#article