

h3.display-4 How much do you want to learn?
form
  p.lead Do you want to be able to watch movies in your target language?
  p (3h/day of immersion for 1 year)
  .form-check 
    input(type="text")
    label(for="")
  .form-check 
    input(type="text")
    label(for="")