section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
section ul, section ol {
  padding: 0.5rem 0.5rem 0.5rem 1.2rem;
}
section p {
  margin: 0.5rem 0;
}
section main {
  width: 95%;
  max-width: 95%;
  min-height: 100px;
  align-self: flex-start;
  margin-right: 0.5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 430px) {
  section main {
    width: 80%;
    max-width: 80%;
    min-height: 100px;
  }
}
@media only screen and (min-width: 900px ) {
  section main {
    width: 60%;
    max-width: 60%;
    min-height: 100px;
  }
}
section main .box__card {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
section main .box__card .card:nth-of-type(1) {
  order: 1;
}
section main .box__card .card:nth-of-type(2) {
  order: 3;
}
section main .box__card #attention_img {
  order: 2;
}
@media only screen and (min-width: 430px) {
  section main .box__card .card:nth-of-type(1) {
    order: 1;
  }
  section main .box__card .card:nth-of-type(2) {
    order: 2;
  }
  section main .box__card #attention_img {
    order: 3;
  }
}
@media only screen and (min-width: 900px ) {
  section main .box__card .card:nth-of-type(1) {
    order: 1;
  }
  section main .box__card .card:nth-of-type(2) {
    order: 2;
  }
  section main .box__card #attention_img {
    order: 3;
  }
}
section main .box__card .card {
  width: 230px;
  height: 350px;
  margin: 2rem 1rem;
  border-radius: 5px;
  background-image: linear-gradient(to right, #085f5c, #09716d, #0a837f, #0a9691, #0ba9a3);
  padding: 1rem;
  overflow: hidden;
  color: white;
}
section main .box__card .card a {
  color: white;
  text-decoration: none;
}
section main .box__card .card .titlespin {
  display: flex;
  overflow: hidden;
  flex-direction: row;
}
section main .box__card .card .titlespin a {
  min-width: 100%;
}
section aside {
  width: 95%;
  max-width: 95%;
  min-height: 100px;
  align-self: flex-start;
}
@media only screen and (min-width: 430px) {
  section aside {
    width: 80%;
    max-width: 80%;
    min-height: 100px;
  }
}
@media only screen and (min-width: 900px ) {
  section aside {
    width: 20%;
    max-width: 20%;
    min-height: 100px;
  }
}
section .single {
  width: 95%;
  max-width: 95%;
  min-height: 100px;
}
@media only screen and (min-width: 430px) {
  section .single {
    width: 90%;
    max-width: 90%;
    min-height: 100px;
  }
}
@media only screen and (min-width: 900px ) {
  section .single {
    width: 80%;
    max-width: 80%;
    min-height: 100px;
  }
}
section img.schemepic {
  width: 100%;
  height: auto;
  margin: 2rem auto;
  max-width: 500px;
}
section img.mainpic {
  width: 100%;
  margin: 2rem 0;
}