
// TEST
// *{color: red}

section{
  


  .container{


      // links
      &:nth-of-type(1){
        .gLine{border-bottom: 5px solid rgb(0, 204, 153);}

        .linkBox{
          background: whitesmoke; 
          border-radius: 10px;
          padding: 1rem;
          margin: .5rem 0;
        }
        
      }
    




      &:nth-of-type(2){

        img{width:100px; height: 100px;float: right;}
        .col-md-6{
          border-bottom: 2px solid grey;
        }
      }
  
  }














  //WARNING SIGN

  &:last-of-type{ 
    background:  rgb(0, 204, 153);
    text-align: center;
    padding: 20rem 0;
    margin-top: 10rem;

    .display-1{
      font-size: 4rem;
    }
    @media (min-width: 768px){
      .display-1{font-size: 6rem;}
    }






  }





}