
// TEST
// *{color: red}


@import "../../bootstrap-4.3.1/scss/bootstrap";
 

section{
  
  main{
    @extend .col-lg-8, .col-md-6 ; 
    color: blue; 
  }
  aside{
    @extend .col-lg-4, .col-md-6 ;  
  }

  .title {
    @extend .col;
  }

  ul{
    padding-inline-start: 1rem;
    
  }
  p{margin-bottom: .5rem;}

  .linkBox{
    background: whitesmoke; 
    border-radius: 10px;
    padding: 1rem;
    margin: .5rem 0;
  }



  ol{
    li::marker{
      font-size: 16px;
      font-weight: bold;
    }
  }


  .container{


      // links
      &:nth-of-type(1){
        .gLine{border-bottom: 5px solid rgb(0, 204, 153);}

        
      }
    




      &:nth-of-type(2){

        img{width:100px; height: 100px;float: right;}
        .col-md-6{
          border-bottom: 2px solid grey;
        }
      }
  
  }














  //WARNING SIGN

  &:last-of-type{ 
    background:  rgb(0, 204, 153);
    text-align: center;
    padding: 20rem 0;
    margin-top: 10rem;

    .display-1{
      font-size: 4rem;
    }
    @media (min-width: 768px){
      .display-1{font-size: 6rem;}
    }






  }





}