
// TEST
// *{color: red}


@import "../../bootstrap-4.3.1/scss/bootstrap";
 

section{ 



  
  main{
    @extend .col-lg-8, .col-md-6 ; 
    

    .cardsrow{
      @extend .row;

      .card-con{
        color: black;
        text-decoration: none;
        @extend .col-12;
        background: whitesmoke; 
        border-radius: 10px;
        margin: .5rem 0;
        padding: .5rem;


        &:hover {
          background: rgb(216, 216, 216);
        }

      }

      img{
        height: 75px;
        // height: auto;
        // flex-basis: 0;
        // flex-grow: 1;
        // max-width: 100%;
        position: relative;
        padding-right: 1rem;
        padding-left: .5rem;
      }
      .description{
        @extend .col;

        p{margin-bottom: 0rem;}



      }


    }



  } 
  aside{
    @extend .col-lg-4, .col-md-6 ;  
    .linkBox{
      background: whitesmoke; 
      border-radius: 10px;
      padding: 1rem;
      margin: .5rem 0;
    }
  }

  .title {
    @extend .col; 

    text-align: center;


  }


  .container{

    


    article{
      background: whitesmoke; 
      border-radius: 10px;
      margin: .5rem 0;
      padding: .5rem;

      @extend .p-5;




      h3{
        @extend .display-4;
        margin-bottom: 2rem;
      }
    }
  }
  

  



  .container{







      // links
      &:nth-of-type(1){
        .gLine{border-bottom: 5px solid rgb(0, 204, 153);}

        
      }
    




      &:nth-of-type(2){

        // img{width:100px; height: 100px;float: right;}
        // .col-md-6{
        //   border-bottom: 2px solid grey;
        // }
      }
  
  }














  //WARNING SIGN

  &:last-of-type{ 
    background:  rgb(0, 204, 153);
    text-align: center;
    padding: 20rem 0;
    margin-top: 10rem;

    .display-1{
      font-size: 4rem;
    }
    @media (min-width: 768px){
      .display-1{font-size: 6rem;}
    }






  }





}