section
  .container
    .row
      .col-12
        h2.display-1.p-3 Pages are being built
        p.h3 "Patience rewards those who let their expectations be guided by it.
        p.h3 Not their actions."
        p.text-right - Tallbus Humbledoor 
          hr
        p.h3
          span(onclick="$dc.devopen()") So be patient
        p.h3#devBtn(onclick="$dc.devTog()") There you go