@import '../vars';
   
   .floating:before {
    content: "";
    //  width: 100%;
    //  position: absolute;
    top: -70px;
    opacity: 0;
    transition: 300ms;
    //  background: -webkit-linear-gradient(145deg, #bebebe, #ffffff);
}


.floating {
    // width: 40px;
    // height: 40px;
    
    
    border-radius: 5px; //look
    background: white;
    transform-style: preserve-3d;
    // transform-origin: 50% 50%;
    // transform: rotateX(1deg) rotateY(1deg);
}



.thickness {
   position: absolute;
   border-radius: 5px;
   background: grey;      
   
   &:nth-child(1){ transform: translateZ( -8px) }
   &:nth-child(2){ transform: translateZ( -8px) }
   &:nth-child(3){ transform: translateZ( -8px) }
   &:nth-child(4){ transform: translateZ( -8px) }
   &:nth-child(5){ transform: translateZ( -13px) }
   &:nth-child(6){ transform: translateZ( -16px) }
   
}

.card_body{ 
    padding: .1rem;
    
}
