

@import './vars';



@import './sub/reset';
// @import './colors';



// colors



    // section{
    //     main{
    //         // h1{color:red}
            
    //         a{
                
    //             color: black;
    //             text-decoration: none;
    //             .card{
    //                 background:whitesmoke;
    //                 border: 2px solid coral;
    //                 border-radius: 20px;
    //                 // a{ 
    //                 //     p{
    //                 //         color: black;
    //                 //         text-decoration: none;
    //                 //     }
    //                 //  }
    //             }
    //         }


    //     }
    // }





















//sections ----------------------------------------
//sections ----------------------------------------



    // header{
    //     // height: 300px;
    //     padding: 1px;   
    //     nav{
    //         display: flex;
    //         justify-content: center;
    //         align-items: right;

    //         a{ margin: auto; }
    //         padding: 4rem 0;
    //     }
    // }






    // section{
    //     .single{
    //         p{border: none;}
    //         h1{ font-size: 40px;}
    //         @include box(95%, 1200px, 100px);
    //         padding: 0;
    //         .conatiner{
    //             @include box(100%, none, none)
    //         }
    //         .container__card{
    //             @include box(100%, none, none);
    //             display: flex;
    //             flex-wrap: wrap;
    //             flex-direction: row;
    //         }
    //         >a{
                
    //             min-width: 200px;
    //             @include box(25%, none, none);
    //             margin: 1rem;
    //             .card{
    //                 height: 300px;
    //                 padding: 1rem;
    //             }

    //         }    



    //     }
    // }





