aside
  .row
    .card_out
      .title
        h3 Links
      

  .row
                  
    .card_out
      .col-12.linkBox
        h5.p-3 ANKI Links
        ul  
          li
            a(href="https://ankiweb.net/shared/info/2005073038") My japanese anki card type
          li
            | "Effective learning: 20 rules of formulating knowledge"  
            a(href="http://super-memory.com/articles/20rules.htm") Site 
            |  and  
            a(href="https://supermemo.guru/wiki/20_rules_of_knowledge_formulation") Wiki
            a(href="#jump") jump
                  

    .card_out.devMode
      .col-12.linkBox
        h5.p-3 ANKI 
        h4 Set-up
        ul  
          li
            a(href="https://foosoft.net/projects/yomichan/index.html#dictionaries") Yomichan dictionaries

    .card_out.devMode
      .col-12.linkBox
        h5.p-3 Have suggestions? Confused? Want info?
        p Type in your suggestions and I will update the website to your satisfaction as best as I can.
        ul#link-base  
          li
            a(href="") suggestion x

        form(action="")
          label(for="link") Suggest new link:
          .input-group  
            input.form-control#link_name(type="text" placeholder="name" required)
            .input-group-append
            input.form-control#link_url(type="text" placeholder="url" required)
            .input-group-append
              input.btn.btn-outline-secondary(type="submit" value="add")

    .card_out
      .col-12.linkBox
        h5.p-3 People I follow
        p Organised in order of importance
        ul
          li
            a(href="https://massimmersionapproach.com/" target="_blank").
              MIA
          li
            a(href="https://www.youtube.com/user/MATTvsJapan" target="_blank").
              Matt vs Japan
          li
            a(href="https://www.youtube.com/channel/UCQFe3x4WAgm7joN5daMm5Ew" target="_blank").
              Immerse with Yoga
          li
            a(href="https://www.britvsjapan.com/" target="_blank").
              Brit vs Japan 
          li
            | Krashen -  
            a(href="http://www.sdkrashen.com/" target="_blank") website 
            | and 
            a(href="https://www.researchgate.net/profile/Stephen_Krashen3" target="_blank") ResearchGate

                  