
@import '../variables';


@include media(any){

    footer{
    
        position: absolute; 
        bottom: 0;
        width: 100%;
        .container{
            @include box(95%, 95%, 30px);
            
            margin: auto;
            ul{
                list-style-type: none;
                @include flex(row);
                @include flexcenter();
                margin: 1rem 0 ;
            }
            li{
                a{
                    display: block;
                    text-decoration: none; 
                    text-align: center;
                    padding: .2rem;
                    // .img { background: red }
                }
            }
        }
    
    }
}


@include media(big){

    footer{
        .container{
            // @include box(80%, calc(50% + 250px + 1rem), 30px);
            
            ul{
                // margin: 1rem 0 ;
            }
            li{
                a{
                    // padding: 0 .2rem;
                }
            }
        }
    }
    
}
    












////////////////////////////////////////////



// Colors

footer{
    // background-image: linear-gradient(to right, #000000, #242424, #444444, #666666, #8a8a8a);
    background-image: linear-gradient(to right, #000000, #121212, #1d1d1d, #282828, #343434);
    box-shadow:
    // rgb(9, 151, 161)
    0 0px 7.2px rgba(9, 151, 161, 0.582),
    0 0px 14.9px rgba(9, 151, 161, 0.568),
    0 0px 23.9px rgba(9, 151, 161, 0.671),
    0 0px 37px rgba(9, 151, 161, 0.692),
    0 0px 64.1px rgba(9, 151, 161, 0.623),
    0 0px 353px rgba(9, 151, 161, 0.308)
    ;

    a{ 
        color: rgba(9, 151, 161, 1);
        font-weight: bold;
        text-shadow: 0 0px 353px rgba(9, 151, 161, 0.774) ;
    }
  
}