@import '../variables';
@import '../colors';


body{min-height: 100vh; position: relative;}

.main-container{
    @include box( 100%, 100%, 100vh);
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 200px;

}
