@import '../_variables';




// ul,ol { padding-left: 1rem;  }

// section{
//     @include box(100%, 100%, 100px);
//     @include flex(row);
//     @include flexcenter();
//     padding-top: 2rem;
// }

// article{
//     margin: 1rem 0;
// }

// .single{

//     @include box(80%, 1200px, 100px);
//     margin: auto;
//     padding: 0;
    

//     .box{
//         display: flex;
//         justify-content: space-evenly;
//         @include box(100%, none, none);
//         display: flex;
        
        
//         .card{
//             @include box(40%, 350px, 250px);

//             color: black;
//             text-decoration: none;
//             border: 2px solid coral;
//             border-radius: 20px;
//             display: block;
//             background: whitesmoke;
//             margin: 1rem;

//             padding: 1rem 1rem 1rem 2rem;
//             h2{text-align: center; margin-bottom: 1rem;}
//             a{ text-decoration: none; color: black }


//         }
//         @media only screen and (max-width: $breakPlus){
//             .card{ @include box(95%, 350px, 250px) }
//             flex-direction: column;
//         }

        
           
        
//     }
// }