.row
  //- .col-12
  article
    h3 Anki explained 
    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla pariatur voluptatum repellendus! Commodi voluptates perferendis error obcaecati ipsa quam nihil totam natus labore aperiam corrupti asperiores, quod eveniet mollitia magnam tempora, nisi esse doloribus distinctio facere vel fugiat ratione eaque odio! Rerum asperiores fugiat nesciunt ullam necessitatibus in voluptatibus vel, nobis eveniet quis modi. Vitae dignissimos amet illo sint dolores, labore recusandae id, et reprehenderit facilis vel aspernatur magnam a, placeat fugit accusamus cupiditate itaque quos voluptate dolorum error incidunt! Ad laborum harum quod unde reiciendis, error voluptate quibusdam! Quisquam voluptas minus expedita repellat, ipsam nulla recusandae quas blanditiis doloremque explicabo libero? Cumque necessitatibus, quo laboriosam inventore corporis debitis provident maxime, eos itaque totam hic obcaecati, asperiores minima magnam ipsam a. Voluptas facilis ut maiores ipsa dolor! Accusantium, aperiam. Quibusdam laborum corrupti iusto deserunt totam dignissimos fuga dolore vero consequuntur eos nulla, quae, odit officia. Soluta nulla consequuntur quos a fugiat dolorem quibusdam dolor excepturi, nisi maxime numquam et placeat aliquam. Quod sed aperiam, magni perferendis mollitia quasi ex quo nostrum repellendus quibusdam explicabo minima et! Sequi, qui? Neque hic ipsa itaque aspernatur est iste iusto, cumque totam facilis tenetur error magni officiis! Est distinctio eos suscipit doloremque ipsum omnis.
    ol
      li 
        h5 Look up  
        p This is the part were you've found a word that you don't know and you first want to see what it means.
      li  
        h5 save
        p Afterwards you want to save the word to a place where you can further edit it. This is important as it allows you to continue the next steps later, not immidiately after finding the word.
      li 
        h5 import
        p Next you want to take some of the words that you saved and import them into anki
      li 
        h5 fix
        p After you've added the words, and decided to study them, only then fix them. They might contain unnesecary parts, so we can delete that.
      li 
        h5 add info
        p After deleting extraneous info we might want to add info
      li 
        h5 study / familiarise
        p The last 2 steps were part of studying / familiarisation, but if needed you can further study the vocab in the list
      hr
      h4 From here on out you start the memorisation
      li 
        h5 0 - 8mins
        p In this phase you can either read additional sentences and definitions or just try to memorise
      h4 pssst. btw
      p if you know memory techniques you can actually bypass 0 - 8 and 8 - 1day immediately, though you won't have a good understanding of usage.

      li 
        h5 8 - 1day
        p In this phase you review the word after 8 and 30 mins (my interval settings) and 
      li lvl ups
      li 1day - mature
      li mature review

    h3 What does it mean to study words
    ul
      li 
        h5 The word interval length in your brain
        p
      li 
        h5 example knowledge
        p
      li 
        h5 definition knowledge 
        p
      li 
        h5 associations
        p




    h3.p-3 Anki Set-up






    h4 Anki add-ons
    p
    h4 Sentence mining
    p
    h4 Settings
    p 