doctype html
html
    head
        link(rel="stylesheet" href="/css/style.css")
        title Anki
        include ../html/reusable/head.html


    body
        .main-container 
            include ../html/reusable/header.html
            ////////////////////////////////////////
            
            
            include ../html/anki_sec.html
            .section.
                <h1>ANKI</h1>



            .section
                main
                  article
                    h2
                    p How to use ANKI 
                    p
                    ul
                      li download Anki 2.22 from here
                      li create an ankiweb account
                      li chrome extention online dictionary helper
                      li download anki connect
                      li create anki folders
                      li anki-addon rememorise / migaku editor
                      li change anki settings
                      li change anki settings
                    p
                      | So what we&apos;ve done here is, we&apos;ve created a desktop version and an online version, and we&apos;ve connected a popup dictionary to anki. also we&apos;ve changed anki&apos;s default poor memorising algorith to something much better and created a learning system.
                    p the learning system is based on my own method of memorising 
                    h3 other
                    ul
                      li language learning with netflix &amp; youtube
                      li
                      li
                      li
                      li
                    p
                        <pre> <p>hi</p></pre> 
                aside 
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
        ////////////////////////////////////////////    
        include ../html/reusable/footer.html 
        
//-  pug -w ./ -o ./ -P