.container.pt-3
  .row.justify-content-center
    a.col-4(href="https://www.buymeacoffee.com/adomasgaudi")
      .row
        .col-md-9
          span Buy me a frappuchino
        .col-md-3
          img(src="./pics/buycoffee.jpg", alt="buy me a coffee")
    a.col-4(href="https://www.patreon.com/submersion")
      .row
        .col-md-9
          span Pay my rent
        .col-md-3
          img(src="https://c5.patreon.com/external/logo/downloads_logomark_color_on_white@2x.png", alt="patreo") 