include ./parts/_vars.pug 

doctype html
html
    head
        //-index is not in a folder, thus "here"
        link(rel="stylesheet" href= indexCss )
        title submerse this
        include ../html/reusable/head.html 
        //- reusable head 


    body
        .main-container
            include ../html/index/index_header.html
            include ../html/index/index_sec.html

        include ../html/reusable/footer.html



//-  pug -w ./ -o ./ -P
