.articlerow

article
  h3 Don't analyse too much
  p 1. You'll burn out and the immersion will 
    strong subconsciously
  | become a chore
  p don't translate a show that you can't translate all the way. Once you get tired you won't be able to enjoy the show because you've put the effort so far to understand it, and now not understanding it would be a waste.