include ./parts/_vars.pug



doctype html
html
    head
        //-this page is in a folder, thus "outside" = ../
        link(rel="stylesheet" href= soonCss ) 
        title Submerison/Anki
        // -------------------------------------------------

        include ../html/reusable/head.html


    body
        .main-container 
            include ../html/reusable/header.html
            
            .section
                //- no class in _vars  
                <h1>404 page coming #[strong(class=""+cls ) soon]</h1>
                //- include ../html/soon_sec.html


































        // //////////////////////////////////////////    
        include ../html/reusable/footer.html 