include ./parts/_vars.pug


p Written with love by #{author}
p This will be safe: #{theGreat}



doctype html
html
    head
        
        link(rel="stylesheet" href=here+"css/style.css" ) 
        title Anki
        include ../html/reusable/head.html


    body
        .main-container 
            include ../html/reusable/header.html
            
            .section.
               <h1>404 #[strong(class="golo" ) hihihi]page coming soon</h1>
               #[p(class=""+cls) hihihi]
                
                //- include ../html/soon_sec.html 

        ////////////////////////////////////////////    
        include ../html/reusable/footer.html 