doctype html
html
    head
        link(rel="stylesheet" href="/css/style.css")
        title My Site
        include ../html/reusable/head.html


    body
        .main-container 
            include ../html/reusable/header.html
            
            include ../html/strategy_sec.html
            
        include ../html/reusable/footer.html 
        
//-  pug -w ./ -o ./ -P