include ./parts/_vars.pug


doctype html
html
    head
        link(rel="stylesheet" href = testCss )
        title My Site
        include ../html/reusable/head.html


    body

        //- .main-container 
        //- include ../html/reusable/header.html

        nav.navbar.navbar-expand-lg.navbar-light.bg-light
          a.navbar-brand(href='#') Submersion
          button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
              li.nav-item.active
                a.nav-link(href='#')
                  | Home 
                  span.sr-only (current)
              li.nav-item
                a.nav-link(href='#') Link
              li.nav-item.dropdown
                a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                  | Dropdown
                .dropdown-menu(aria-labelledby='navbarDropdown')
                  a.dropdown-item(href='#') Action
                  a.dropdown-item(href='#') Another action
                  .dropdown-divider
                  a.dropdown-item(href='#') Something else here
              li.nav-item
                a.nav-link.disabled(href='#') Disabled
            form.form-inline.my-2.my-lg-0
              input.form-control.mr-sm-2(type='search' placeholder='Search' aria-label='Search')
              button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search


        .container.c
          .row
            .box1.col-4 box1
            .box2.col-8 box1
            .box2.col-2 box1
            .box2.col-3 box1
          .row
            .box2.col-3 box1
          h1.mt-5 bootstrp&#x306E;&#x7DF4;&#x7FD2;
          p bootstrapの練習しています

          .container
            .row
              a.card1.col-sm-6.p-2(href='./htmls/begin.html')
                img(src='../images/morpheus1.jpg' alt='')
                h2 Begin
                p.shorttext  The two language information categories. 
                p.longtext long text 
            .row
              a.card1.col-sm-6.p-2(href='./htmls/begin.html')
                img(src='../images/morpheus1.jpg' alt='')
                h2 Begin 
                p.shorttext  The two language information categories. 
                p.longtext long text 
            .row
              a.card1.col-sm-6.p-2(href='./htmls/begin.html')
                img(src='../images/morpheus1.jpg' alt='')
                h2 Begin
                p.shorttext  The two language information categories. 
                p.longtext long text 



        include ../html/test_sec.html　   











        //- include ../html/reusable/footer.html 
        include ../html/reusable/js.html 

//-  pug -w ./ -o ./ -P
//-  browser-sync start --server --files "*" 