@import '../part/variables';





section.first{
    
    
    @include box( 100%, none, 2rem);
    
    .single{
        display: flex;
        flex-direction: column;
        align-items: left;
        align-content: left;
        //inside 
        padding: 2rem;

        .box{
            @include media(any){@include box(90%,90%,100px)}
            @include media(pc){@include box(50%,50%,100px)}
        }
        
        button {
            padding: .5rem 2rem;
            // width: 200px;
            border-radius: 50px;
        }
    } 
    
} //first









section.second{
    @include box(100%, none, 100px);
    
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    
    text-align: center;

    .single{ 
        @include box(90%, none, 50px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container__card{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }


    .card{

        width: 300px;
        height: 120px;
        margin: 1rem 1rem;
        


        padding: .5rem;
        text-align: left;
        h2{width: 100%; text-align: left;}
        img{ width: 100px; height: 100px; float: right; padding-top: .5rem;}
//        border: 1px solid black;
//        border-radius: 4px;
         
    }

}
    














    
    
    


















