@import './part/variables';


h1{
//    font-family:c
    @include media(pc){       font-size:70px;    }
    @include media(big){       font-size:50px;    }
    @include media(any){       font-size:40px;    }
    
    color: black;
    font-weight:100;
    text-align: left;
}


section.first{

    @include gradient4;
    
    border-bottom: 1px solid black;
    margin-bottom: 2rem;



    button {        display: none;       }
}


section.second{

//    text-shadow: rgba(black, 0.5) 0 10px 10px;
    a{
        text-decoration: none;
        color: white;
    }
    .card{
        color: black;
        border-bottom: 1px solid black;
//        border-top: 1px solid black;
        background: whitesmoke;
        
        h2{
            font-family: 'Roboto', sans-serif;
            @include media(any){font-size: 22px;}
            @include media(big){font-size: 26px;}
            @include media(pc){font-size: 30px;}
            
            margin-bottom: .5rem;
        }
        
//        background-image: url(/images/poligon.jpg);
//        background-size: cover;      
    }
}