@import '../part/variables';


header{
    
    padding: 1.5rem;
    display: flex;
    justify-content: right;
//    margin-bottom: 2cm;
    

}



/////// colors


header {
   
    
    
    @include gradient4;
    @include shadow2;
    border-bottom: 1px solid black;
    
    
    


}