@import '../part/variables';


header{
    
    padding: .5rem;
    display: flex;
    justify-content: center;
    margin-bottom: 2cm;

}



/////// colors


header {
   
    
    @include gradient1;
    @include shadow2;


}