// @import "../bootstrap-4.3.1/scss/bootstrap";

.resources{
  @extend .container;
  height: none;
  position: sticky;
  top:0;
  z-index: 10000;
  background: black;
  top: 0px;   
  a{ margin-bottom: 0px ; }        
  transition: 1s;
  .title-res{
    @extend  .h1, .sticky-top;
  }

  .gLine{border-bottom: 5px solid rgb(0, 204, 153);}       
}
.isSticky{
  a{
    @extend .h4;
    // padding-top: 0; 
    // padding-bottom: 0;
    transition: 1s;
  } 
  color: purple ;
  // padding: 0;
  transition: 1s;
  // padding-top: calc(1em + 1px);
}